<div class="big-container-navbar">
    <div class="left">
        <!-- <div class="name-workspace">JUEZ</div> -->
    </div>
    <div class="right">
        <!-- <div class="menuOption" (click)="cambiarPantalla('introduction')">
            Introduccion
        </div> -->
        <div class="menuOption" (click)="cambiarPantalla('problems')">
            <div class="text">Problemas</div>
        </div>
        <div class="menuOption" (click)="cambiarPantalla('ranking')">
            Ranking
        </div>
        <div class="menuOption" (click)="cambiarPantalla('login')">
            login
        </div>
        <div class="menuOption" (click)="cambiarPantalla('user')">
            registro
        </div>
    </div>
</div>